
@{
    ViewData["Title"] = "Browser Jobs NIC";
}

@{
    Layout = "_LayoutCustom";
}
<section id="about" class="about text-white">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Acerca de Nostros
          </h2>
          <p>Somos una plataforma con el objetivo de Facilitar la busqueda de n tecnico o profesional de cualquier profesión, que los nicaraguenses necesiten en un momento de necesidad de cualquier indole</p>
        </div>

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="https://nuevaya.com.ni/wp-content/uploads/2016/06/Trabajadores.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-7">
            <h3 class="pt-0 pt-lg-5">Información</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Objetivo</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Creadores</a></li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">
                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4><b>Objetivo de la Plataforma</b></h4>
                </div>
                <p>Ayudar a la población Nicaraguense a buscar profesionales y técnicos de confianza para resolver sus problemas cotidianos, de igual forma ser de mucha utilidad para extranjeros residentes en nuestro Pais.</p>

              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">

                <div class="card-group mt-4">
                  <div class="card" style="background: transparent !important; margin-right: 5px !important;">
                    <center><img src="~/img/profile-pic.png" style="width: 100px !important;" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-white">Kevin Munguia</h5>
                      <p class="card-text"><small class="text-muted">Web Development</small></p>
                    </div>
                  </div>
                  <div class="card" style="background: transparent !important; margin-right: 5px !important;">
                    <center><img src="~/img/joseph-modified.png" style="width: 100px !important;" class="card-img-top" alt="..."></center>
                    <div class="card-body">
                      <h5 class="card-title text-white">Joseph Rueda</h5>
                      <p class="card-text"><small class="text-muted">Ingeenier Software</small></p>
                    </div>
                  </div>
                  <div class="card" style="background: transparent !important; margin-right: 5px !important;">
                    <center><img src="~/img/shara-modified.png" style="width: 100px !important;" class="card-img-top" alt="..."></center>
                    <div class="card-body">
                      <h5 class="card-title text-white">Jeremy Berrios</h5>
                      <p class="card-text"><small class="text-muted">Backend Development</small></p>
                    </div>
                  </div>
                </div>
              </div><!-- End Tab 2 Content -->
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->