@{
    ViewData["Title"] = "Browser Jobs NIC";
}

@{
    Layout = "_LayoutCustom";
}

<header class="">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white e mb-2">Encuentra a Técnicos y Profesionales de Cualquier Profesión</h1>
                    <p class="text-white lead fw-normal mb-4">Si estas necesitando a un técnico o Profesional que solucione cualquier problema, en tu casa, tu negocio y/o empresa. En esta plataforma encontraras la ayuda que buscas.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-warning btn-lg px-4 me-sm-3" href="#features">Empieza a Buscar Ya <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="img/img2.jpg" width="1000px" alt="..." /></div>
        </div>
        
    </div>
</header>
